.text-chocolate {
    color: chocolate;
}
.tab-pane {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Chọn tỷ lệ chiều rộng/chiều cao mong muốn (ví dụ: 4:3) */
    height: 0;
    overflow: hidden;
}

.tab-pane object {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}