<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hung.css">
    <title>Hưng Demo</title>
</head>
<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="div-title"> Đăng kí tài khoản</div>
            <div class="form-content">
                <label>Tên</label>
                <br>
                <input id="name" class="input-wrapper">
                <br>
                <label>Email</label>
                <br>
                <input id="email" class="input-wrapper">
                <br>
                <label>Mật khẩu</label>
                <br>
                <input id="password" class="input-wrapper">
                <br>
                <label>Xác nhận mật khẩu</label>
                <br>
                <input id="confirm" class="input-wrapper">
                <br>
                <label>Số điện thoại</label>
                <br>
                <input id="phone" class="input-wrapper">
                <br>
                <label>Nhập địa chỉ</label>
                <br>
                <input id="address" class="input-wrapper">
                <br>
                <div class="text-center mr-bot-10">
                    <button onclick="createAccount()" class="btn-wrapper">Tạo tài khoản</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script>

    function createAccount () {

        let nameElement = document.getElementById("name"); 
        let nameInput = nameElement.value;

        let emailInput = document.getElementById("email").value;

        let passwordInput =  document.getElementById("password").value;
        let confirmInput =  document.getElementById("confirm").value;
        let phoneInput =  document.getElementById("phone").value;
        let addressInput =  document.getElementById("address").value;
        console.log("Name: " + nameInput);
        console.log("Email: " + emailInput)
        console.log("Pass: " + passwordInput)
        console.log("Confirmpass: " + confirmInput);
        console.log("Phone: " + phoneInput);
        console.log("Address: " + addressInput);
    }
</script>