<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="minh.css">
    <title>Minh Demo</title>
</head>
<body>
    <button onclick="onClick ()">nhap xuat</button>
</body>
</html>

<script>
    function onClick (){

    const listNumber = [10, 2, 50, 100, 20, 15, 31, 9]

    for (let i = 0; i < listNumber.length; i++){
        for (let j = i + 1; j < listNumber.length; j++){
            if(listNumber[i] > listNumber[j]){
                let temp = listNumber[i];
                listNumber[i] = listNumber[j];
                listNumber[j] = temp;
            }
        }
    }
    console.log(listNumber);
    }
</script>

