<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="minh.css">
    <title>Minh Demo</title>
</head>
<body>
    <div>
        <button onclick="createAccount()">click me</button>
    </div>
</body>
</html>

<script>

    function createAccount () {
        
    let chieuDai = 5;
    let chieuRong = 5;

    if (chieuDai > chieuRong) {
    console.log("Chiều dài của hình chữ nhật lớn hơn chiều rộng.");
    } else if (chieuDai < chieuRong) {
    console.log("Chiều rộng của hình chữ nhật lớn hơn chiều dài.");
    } else {
    console.log("Chiều dài và chiều rộng của hình chữ nhật bằng nhau.");
    }
    }
    


</script>