<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuấn Anh Demo</title>
    <link rel="stylesheet" href="tuananh.css">
</head>
<body>
    
</body>
<script>
   const numbers = [10, 2, 50, 100, 20, 15, 31, 9];


const ascendingOrder = numbers.slice().sort(function(a, b) {
    return a - b;
});

console.log("Thứ tự tăng dần:", ascendingOrder);


const descendingOrder = numbers.slice().sort(function(a, b) {
    return b - a;
});

console.log("Thứ tự giảm dần:", descendingOrder);
</script>
</html>