<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuấn Anh Demo</title>
    <link rel="stylesheet" href="tuananh.css">
</head>
<body>
    <div>
        <div class="container" >
            <div class="box-wrapper">
                <div class="div-title"> Đăng kí tài khoản</div>
    
                <div class="form-content">
                    <label>Tên</label><br>
                    <input class="input-wrapper"><br>
                    
                    <label>Email</label><br>
                    <input class="input-wrapper"><br>
    
                    <label>Mật Khẩu</label><br>
                    <input class="input-wrapper"><br>
    
                    <label>Xác nhận mật khẩu</label><br>
                    <input class="input-wrapper"><br>
    
                    <label>Số điện thoại</label><br>
                    <input class="input-wrapper"><br>
    
                    <label>Nhập địa chỉ</label><br>
                    <input class="input-wrapper"><br>
                </div>
                <div class="text-center mr-bot-10">
                    <button class="btn-wrapper">Tạo tài khoản</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>