<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuấn Anh Demo</title>
    <link rel="stylesheet" href="tuananh.css">
    
</head>
<body>
   
    <button onclick="myFunction()">Pending</button>

    <p id="demo">In progress</p
    
</body>
<script>
    function myFunction() {
  let text = document.getElementById("demo").innerHTML;
  document.getElementById("demo").innerHTML =
  text.replace("In progress","TuanAnh");
}

</script>

</html>